## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Tommot,RU,58.9564,126.2925,60.22,93,1,2.71,clear sky
1,1,Jamestown,US,42.0970,-79.2353,79.02,77,100,14.97,overcast clouds
2,2,Bluff,NZ,-46.6000,168.3333,40.80,77,100,6.53,overcast clouds
3,3,La Ronge,CA,55.1001,-105.2842,61.02,67,100,21.85,overcast clouds
4,4,Port-Gentil,GA,-0.7193,8.7815,80.56,74,40,14.97,scattered clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 80
What is the maximum temperature you would like for your trip? 90

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
4,4,Port-Gentil,GA,-0.7193,8.7815,80.56,74,40,14.97,scattered clouds
5,5,Natal,BR,-5.7950,-35.2094,86.22,66,75,13.80,broken clouds
9,9,Hithadhoo,MV,-0.6000,73.0833,81.82,70,100,5.21,overcast clouds
20,20,Odweyne,SO,9.4092,45.0640,80.19,40,80,22.19,broken clouds
50,50,Barcelos,PT,41.5388,-8.6151,86.92,49,6,6.73,clear sky
52,52,Gampaha,LK,7.0897,79.9925,80.53,83,40,9.22,moderate rain
64,64,Kankan,GN,10.3854,-9.3057,80.19,74,91,7.23,overcast clouds
70,70,Surt,LY,31.2089,16.5887,81.84,57,0,14.41,clear sky
85,85,Dubrovnik,HR,42.6481,18.0922,83.84,57,0,6.91,clear sky
86,86,Albany,US,42.6001,-73.9662,89.53,64,8,8.46,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID        155
City           155
Country        155
Lat            155
Lng            155
Max Temp       155
Humidity       155
Cloudiness     155
Wind Speed     155
Description    155
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
pref_cities_df = preferred_cities_df.dropna()
pref_cities_df.count()

City_ID        155
City           155
Country        155
Lat            155
Lng            155
Max Temp       155
Humidity       155
Cloudiness     155
Wind Speed     155
Description    155
dtype: int64

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = pref_cities_df[["City", "Country", "Max Temp", "Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Port-Gentil,GA,80.56,scattered clouds,-0.7193,8.7815,
5,Natal,BR,86.22,broken clouds,-5.7950,-35.2094,
9,Hithadhoo,MV,81.82,overcast clouds,-0.6000,73.0833,
20,Odweyne,SO,80.19,broken clouds,9.4092,45.0640,
50,Barcelos,PT,86.92,clear sky,41.5388,-8.6151,
52,Gampaha,LK,80.53,moderate rain,7.0897,79.9925,
64,Kankan,GN,80.19,overcast clouds,10.3854,-9.3057,
70,Surt,LY,81.84,clear sky,31.2089,16.5887,
85,Dubrovnik,HR,83.84,clear sky,42.6481,18.0922,
86,Albany,US,89.53,clear sky,42.6001,-73.9662,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json() 

    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head()

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Port-Gentil,GA,80.56,scattered clouds,-0.7193,8.7815,Fengshui Residence
5,Natal,BR,86.22,broken clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
9,Hithadhoo,MV,81.82,overcast clouds,-0.6000,73.0833,Scoop Guest House
20,Odweyne,SO,80.19,broken clouds,9.4092,45.0640,Eng Hiirey House
50,Barcelos,PT,86.92,clear sky,41.5388,-8.6151,Hotel Restaurante Bagoeira

In [11]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace("", np.nan, inplace=True)
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
4,Port-Gentil,GA,80.56,scattered clouds,-0.7193,8.7815,Fengshui Residence
5,Natal,BR,86.22,broken clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
9,Hithadhoo,MV,81.82,overcast clouds,-0.6000,73.0833,Scoop Guest House
20,Odweyne,SO,80.19,broken clouds,9.4092,45.0640,Eng Hiirey House
50,Barcelos,PT,86.92,clear sky,41.5388,-8.6151,Hotel Restaurante Bagoeira
...,...,...,...,...,...,...,...
708,Patos,BR,85.28,overcast clouds,-7.0244,-37.2800,Hotel JK
716,Tukrah,LY,80.58,clear sky,32.5341,20.5791,Lagrota restaurant
718,Ittiri,IT,86.90,clear sky,40.5929,8.5684,Sa Mariposa
719,Oriximina,BR,87.06,few clouds,-1.7656,-55.8661,Pousada Tia Amélia
725,Salamiyah,SY,84.43,clear sky,35.0113,37.0532,Gondolas Forum grandchildren and grandparents

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [13]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [14]:
# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# 11a. Add a marker layer for each city to the map. 
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))